@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Source+Sans+Pro&display=swap');


html {
    width: 100%;
    height: 100%;
    background: url('./symbols/mainbg.jpg');
    background-repeat: repeat;
    background-size: cover;
}

body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
    font-family: 'Source Sans Pro', sans-serif;

}

.gameHeader {
    padding-top: 40px;
    font-family: 'Cherry Swash', cursive;
}

.description {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    margin: 0;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35rem;
    height: 20rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    background: transparent;
    /* padding: 52px; */
    margin: 5px;    
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    height: 167px;
    width: 120px;
}

.frontCard {
    transform: rotateY(180deg);
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.backCard {
    background-image: url('./symbols/cardBackImg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* flex: 0 1 auto; */
    height: 167px;
    width: 120px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

div {
    backface-visibility: hidden;
}

.is-flipped {
    transform: rotateY(180deg);
    backface-visibility: visible;
    background-color: green;
}

.userInfo {
    display: flex;
    justify-content: space-around;
    width: inherit;
}
